
@{
    ViewBag.Title = "UserVerification";
}

<h2>User Verification Process</h2>

<div class="danger alert-danger">
    <strong>Message..!!</strong>  @ViewBag.Message,  please click here to Login @Html.ActionLink("Login", "Login", "Register")
</div>
